<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="fc907bf9d89b46b8ab162be73d0d0f12" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_fc907bf9d89b46b8ab162be73d0d0f12 = echarts.init(
            document.getElementById('fc907bf9d89b46b8ab162be73d0d0f12'), 'white', {renderer: 'canvas'});
        var option_fc907bf9d89b46b8ab162be73d0d0f12 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "dead",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "01.28",
                    0
                ],
                [
                    "01.29",
                    0
                ],
                [
                    "01.30",
                    0
                ],
                [
                    "01.31",
                    0
                ],
                [
                    "02.01",
                    0
                ],
                [
                    "02.02",
                    1
                ],
                [
                    "02.03",
                    1
                ],
                [
                    "02.04",
                    1
                ],
                [
                    "02.05",
                    1
                ],
                [
                    "02.06",
                    1
                ],
                [
                    "02.07",
                    1
                ],
                [
                    "02.08",
                    1
                ],
                [
                    "02.09",
                    1
                ],
                [
                    "02.10",
                    1
                ],
                [
                    "02.11",
                    1
                ],
                [
                    "02.12",
                    1
                ],
                [
                    "02.13",
                    2
                ],
                [
                    "02.14",
                    2
                ],
                [
                    "02.15",
                    3
                ],
                [
                    "02.16",
                    3
                ],
                [
                    "02.17",
                    3
                ],
                [
                    "02.18",
                    3
                ],
                [
                    "02.19",
                    3
                ],
                [
                    "02.20",
                    8
                ],
                [
                    "02.21",
                    11
                ],
                [
                    "02.22",
                    14
                ],
                [
                    "02.23",
                    22
                ],
                [
                    "02.24",
                    32
                ],
                [
                    "02.25",
                    40
                ],
                [
                    "02.26",
                    51
                ],
                [
                    "02.27",
                    64
                ],
                [
                    "02.28",
                    80
                ],
                [
                    "02.29",
                    95
                ],
                [
                    "03.01",
                    112
                ],
                [
                    "03.02",
                    152
                ],
                [
                    "03.03",
                    184
                ],
                [
                    "03.04",
                    236
                ],
                [
                    "03.05",
                    296
                ],
                [
                    "03.06",
                    366
                ],
                [
                    "03.07",
                    452
                ],
                [
                    "03.08",
                    561
                ],
                [
                    "03.09",
                    766
                ],
                [
                    "03.10",
                    977
                ],
                [
                    "03.11",
                    1232
                ],
                [
                    "03.12",
                    1577
                ],
                [
                    "03.13",
                    1944
                ],
                [
                    "03.14",
                    2354
                ],
                [
                    "03.15",
                    2765
                ],
                [
                    "03.16",
                    3473
                ],
                [
                    "03.17",
                    4276
                ],
                [
                    "03.18",
                    4988
                ],
                [
                    "03.19",
                    6078
                ],
                [
                    "03.20",
                    6952
                ],
                [
                    "03.21",
                    8087
                ],
                [
                    "03.22",
                    10391
                ],
                [
                    "03.23",
                    12125
                ],
                [
                    "03.24",
                    14001
                ],
                [
                    "03.25",
                    16391
                ],
                [
                    "03.26",
                    18872
                ],
                [
                    "03.27",
                    21829
                ],
                [
                    "03.28",
                    25279
                ],
                [
                    "03.29",
                    28682
                ],
                [
                    "03.30",
                    31868
                ],
                [
                    "03.31",
                    32395
                ],
                [
                    "04.02",
                    32406
                ],
                [
                    "04.03",
                    32407
                ],
                [
                    "04.05",
                    32408
                ],
                [
                    "04.13",
                    32472
                ],
                [
                    "04.14",
                    32472
                ],
                [
                    "04.15",
                    32486
                ],
                [
                    "04.16",
                    60975
                ],
                [
                    "04.17",
                    75566
                ],
                [
                    "04.18",
                    79328
                ],
                [
                    "04.19",
                    81336
                ],
                [
                    "04.20",
                    82943
                ],
                [
                    "04.21",
                    84699
                ],
                [
                    "04.22",
                    87394
                ],
                [
                    "04.23",
                    89100
                ],
                [
                    "04.24",
                    92307
                ],
                [
                    "04.25",
                    96625
                ],
                [
                    "04.26",
                    98586
                ],
                [
                    "04.27",
                    99493
                ],
                [
                    "04.28",
                    101105
                ],
                [
                    "04.29",
                    103165
                ],
                [
                    "04.30",
                    105828
                ],
                [
                    "05.01",
                    125144
                ],
                [
                    "05.02",
                    128154
                ],
                [
                    "05.03",
                    129845
                ],
                [
                    "05.04",
                    131327
                ],
                [
                    "05.05",
                    132835
                ],
                [
                    "05.06",
                    135185
                ],
                [
                    "05.07",
                    137957
                ],
                [
                    "05.08",
                    140299
                ],
                [
                    "05.09",
                    142215
                ],
                [
                    "05.10",
                    143816
                ],
                [
                    "05.11",
                    144709
                ],
                [
                    "05.12",
                    145840
                ],
                [
                    "05.13",
                    147646
                ],
                [
                    "05.14",
                    149602
                ],
                [
                    "05.15",
                    151534
                ],
                [
                    "05.16",
                    153267
                ],
                [
                    "05.17",
                    154977
                ],
                [
                    "05.18",
                    155929
                ],
                [
                    "05.19",
                    156991
                ],
                [
                    "05.20",
                    158612
                ],
                [
                    "05.21",
                    160125
                ],
                [
                    "05.22",
                    161595
                ],
                [
                    "05.23",
                    163576
                ],
                [
                    "05.24",
                    164662
                ],
                [
                    "05.25",
                    165353
                ],
                [
                    "05.26",
                    165858
                ],
                [
                    "05.27",
                    164990
                ],
                [
                    "05.28",
                    166526
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "dead"
            ],
            "selected": {
                "dead": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "01.28",
                "01.29",
                "01.30",
                "01.31",
                "02.01",
                "02.02",
                "02.03",
                "02.04",
                "02.05",
                "02.06",
                "02.07",
                "02.08",
                "02.09",
                "02.10",
                "02.11",
                "02.12",
                "02.13",
                "02.14",
                "02.15",
                "02.16",
                "02.17",
                "02.18",
                "02.19",
                "02.20",
                "02.21",
                "02.22",
                "02.23",
                "02.24",
                "02.25",
                "02.26",
                "02.27",
                "02.28",
                "02.29",
                "03.01",
                "03.02",
                "03.03",
                "03.04",
                "03.05",
                "03.06",
                "03.07",
                "03.08",
                "03.09",
                "03.10",
                "03.11",
                "03.12",
                "03.13",
                "03.14",
                "03.15",
                "03.16",
                "03.17",
                "03.18",
                "03.19",
                "03.20",
                "03.21",
                "03.22",
                "03.23",
                "03.24",
                "03.25",
                "03.26",
                "03.27",
                "03.28",
                "03.29",
                "03.30",
                "03.31",
                "04.02",
                "04.03",
                "04.05",
                "04.13",
                "04.14",
                "04.15",
                "04.16",
                "04.17",
                "04.18",
                "04.19",
                "04.20",
                "04.21",
                "04.22",
                "04.23",
                "04.24",
                "04.25",
                "04.26",
                "04.27",
                "04.28",
                "04.29",
                "04.30",
                "05.01",
                "05.02",
                "05.03",
                "05.04",
                "05.05",
                "05.06",
                "05.07",
                "05.08",
                "05.09",
                "05.10",
                "05.11",
                "05.12",
                "05.13",
                "05.14",
                "05.15",
                "05.16",
                "05.17",
                "05.18",
                "05.19",
                "05.20",
                "05.21",
                "05.22",
                "05.23",
                "05.24",
                "05.25",
                "05.26",
                "05.27",
                "05.28"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5168\u7403\u5386\u53f2dead\u4fe1\u606f(\u4e0d\u5305\u62ec\u4e2d\u56fd)",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 50,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_fc907bf9d89b46b8ab162be73d0d0f12.setOption(option_fc907bf9d89b46b8ab162be73d0d0f12);
    </script>
</body>
</html>
