<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="83e3216147a341afa6edd5d206785e90" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_83e3216147a341afa6edd5d206785e90 = echarts.init(
            document.getElementById('83e3216147a341afa6edd5d206785e90'), 'white', {renderer: 'canvas'});
        var option_83e3216147a341afa6edd5d206785e90 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "confirm",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "01.28",
                    57
                ],
                [
                    "01.29",
                    74
                ],
                [
                    "01.30",
                    98
                ],
                [
                    "01.31",
                    124
                ],
                [
                    "02.01",
                    139
                ],
                [
                    "02.02",
                    149
                ],
                [
                    "02.03",
                    154
                ],
                [
                    "02.04",
                    177
                ],
                [
                    "02.05",
                    201
                ],
                [
                    "02.06",
                    225
                ],
                [
                    "02.07",
                    273
                ],
                [
                    "02.08",
                    299
                ],
                [
                    "02.09",
                    313
                ],
                [
                    "02.10",
                    385
                ],
                [
                    "02.11",
                    397
                ],
                [
                    "02.12",
                    444
                ],
                [
                    "02.13",
                    505
                ],
                [
                    "02.14",
                    516
                ],
                [
                    "02.15",
                    601
                ],
                [
                    "02.16",
                    687
                ],
                [
                    "02.17",
                    800
                ],
                [
                    "02.18",
                    904
                ],
                [
                    "02.19",
                    1018
                ],
                [
                    "02.20",
                    1096
                ],
                [
                    "02.21",
                    1231
                ],
                [
                    "02.22",
                    1528
                ],
                [
                    "02.23",
                    1895
                ],
                [
                    "02.24",
                    2286
                ],
                [
                    "02.25",
                    2575
                ],
                [
                    "02.26",
                    3085
                ],
                [
                    "02.27",
                    3945
                ],
                [
                    "02.28",
                    4947
                ],
                [
                    "02.29",
                    6305
                ],
                [
                    "03.01",
                    7342
                ],
                [
                    "03.02",
                    9628
                ],
                [
                    "03.03",
                    12047
                ],
                [
                    "03.04",
                    13897
                ],
                [
                    "03.05",
                    16234
                ],
                [
                    "03.06",
                    19488
                ],
                [
                    "03.07",
                    23013
                ],
                [
                    "03.08",
                    26959
                ],
                [
                    "03.09",
                    30814
                ],
                [
                    "03.10",
                    35796
                ],
                [
                    "03.11",
                    41212
                ],
                [
                    "03.12",
                    48743
                ],
                [
                    "03.13",
                    58493
                ],
                [
                    "03.14",
                    67414
                ],
                [
                    "03.15",
                    79582
                ],
                [
                    "03.16",
                    92523
                ],
                [
                    "03.17",
                    106190
                ],
                [
                    "03.18",
                    122946
                ],
                [
                    "03.19",
                    147281
                ],
                [
                    "03.20",
                    169551
                ],
                [
                    "03.21",
                    195941
                ],
                [
                    "03.22",
                    235102
                ],
                [
                    "03.23",
                    270017
                ],
                [
                    "03.24",
                    313330
                ],
                [
                    "03.25",
                    355599
                ],
                [
                    "03.26",
                    407265
                ],
                [
                    "03.27",
                    465884
                ],
                [
                    "03.28",
                    536355
                ],
                [
                    "03.29",
                    598686
                ],
                [
                    "03.30",
                    658696
                ],
                [
                    "03.31",
                    662138
                ],
                [
                    "04.02",
                    662453
                ],
                [
                    "04.03",
                    662459
                ],
                [
                    "04.05",
                    662770
                ],
                [
                    "04.13",
                    665615
                ],
                [
                    "04.14",
                    666039
                ],
                [
                    "04.15",
                    666450
                ],
                [
                    "04.16",
                    1163393
                ],
                [
                    "04.17",
                    1282444
                ],
                [
                    "04.18",
                    1317007
                ],
                [
                    "04.19",
                    1345517
                ],
                [
                    "04.20",
                    1370721
                ],
                [
                    "04.21",
                    1399071
                ],
                [
                    "04.22",
                    1436399
                ],
                [
                    "04.23",
                    1454132
                ],
                [
                    "04.24",
                    1481436
                ],
                [
                    "04.25",
                    1555453
                ],
                [
                    "04.26",
                    1589985
                ],
                [
                    "04.27",
                    1615942
                ],
                [
                    "04.28",
                    1642302
                ],
                [
                    "04.29",
                    1667678
                ],
                [
                    "04.30",
                    1696211
                ],
                [
                    "05.01",
                    1902083
                ],
                [
                    "05.02",
                    1944018
                ],
                [
                    "05.03",
                    1973762
                ],
                [
                    "05.04",
                    2003844
                ],
                [
                    "05.05",
                    2030817
                ],
                [
                    "05.06",
                    2055615
                ],
                [
                    "05.07",
                    2084195
                ],
                [
                    "05.08",
                    2116899
                ],
                [
                    "05.09",
                    2149323
                ],
                [
                    "05.10",
                    2177513
                ],
                [
                    "05.11",
                    2199722
                ],
                [
                    "05.12",
                    2221398
                ],
                [
                    "05.13",
                    2245577
                ],
                [
                    "05.14",
                    2268864
                ],
                [
                    "05.15",
                    2297660
                ],
                [
                    "05.16",
                    2326073
                ],
                [
                    "05.17",
                    2351699
                ],
                [
                    "05.18",
                    2372804
                ],
                [
                    "05.19",
                    2395903
                ],
                [
                    "05.20",
                    2416807
                ],
                [
                    "05.21",
                    2439668
                ],
                [
                    "05.22",
                    2468435
                ],
                [
                    "05.23",
                    2494304
                ],
                [
                    "05.24",
                    2516619
                ],
                [
                    "05.25",
                    2536709
                ],
                [
                    "05.26",
                    2556499
                ],
                [
                    "05.27",
                    2576035
                ],
                [
                    "05.28",
                    2597073
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "confirm"
            ],
            "selected": {
                "confirm": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "01.28",
                "01.29",
                "01.30",
                "01.31",
                "02.01",
                "02.02",
                "02.03",
                "02.04",
                "02.05",
                "02.06",
                "02.07",
                "02.08",
                "02.09",
                "02.10",
                "02.11",
                "02.12",
                "02.13",
                "02.14",
                "02.15",
                "02.16",
                "02.17",
                "02.18",
                "02.19",
                "02.20",
                "02.21",
                "02.22",
                "02.23",
                "02.24",
                "02.25",
                "02.26",
                "02.27",
                "02.28",
                "02.29",
                "03.01",
                "03.02",
                "03.03",
                "03.04",
                "03.05",
                "03.06",
                "03.07",
                "03.08",
                "03.09",
                "03.10",
                "03.11",
                "03.12",
                "03.13",
                "03.14",
                "03.15",
                "03.16",
                "03.17",
                "03.18",
                "03.19",
                "03.20",
                "03.21",
                "03.22",
                "03.23",
                "03.24",
                "03.25",
                "03.26",
                "03.27",
                "03.28",
                "03.29",
                "03.30",
                "03.31",
                "04.02",
                "04.03",
                "04.05",
                "04.13",
                "04.14",
                "04.15",
                "04.16",
                "04.17",
                "04.18",
                "04.19",
                "04.20",
                "04.21",
                "04.22",
                "04.23",
                "04.24",
                "04.25",
                "04.26",
                "04.27",
                "04.28",
                "04.29",
                "04.30",
                "05.01",
                "05.02",
                "05.03",
                "05.04",
                "05.05",
                "05.06",
                "05.07",
                "05.08",
                "05.09",
                "05.10",
                "05.11",
                "05.12",
                "05.13",
                "05.14",
                "05.15",
                "05.16",
                "05.17",
                "05.18",
                "05.19",
                "05.20",
                "05.21",
                "05.22",
                "05.23",
                "05.24",
                "05.25",
                "05.26",
                "05.27",
                "05.28"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5168\u7403\u5386\u53f2confirm\u4fe1\u606f(\u4e0d\u5305\u62ec\u4e2d\u56fd)",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 50,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_83e3216147a341afa6edd5d206785e90.setOption(option_83e3216147a341afa6edd5d206785e90);
    </script>
</body>
</html>
