<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="f0a68c1b3e4249d587344719ff16c05d" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_f0a68c1b3e4249d587344719ff16c05d = echarts.init(
            document.getElementById('f0a68c1b3e4249d587344719ff16c05d'), 'white', {renderer: 'canvas'});
        var option_f0a68c1b3e4249d587344719ff16c05d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "heal",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "01.28",
                    3
                ],
                [
                    "01.29",
                    3
                ],
                [
                    "01.30",
                    6
                ],
                [
                    "01.31",
                    11
                ],
                [
                    "02.01",
                    11
                ],
                [
                    "02.02",
                    11
                ],
                [
                    "02.03",
                    12
                ],
                [
                    "02.04",
                    19
                ],
                [
                    "02.05",
                    21
                ],
                [
                    "02.06",
                    25
                ],
                [
                    "02.07",
                    27
                ],
                [
                    "02.08",
                    29
                ],
                [
                    "02.09",
                    30
                ],
                [
                    "02.10",
                    36
                ],
                [
                    "02.11",
                    44
                ],
                [
                    "02.12",
                    50
                ],
                [
                    "02.13",
                    56
                ],
                [
                    "02.14",
                    59
                ],
                [
                    "02.15",
                    61
                ],
                [
                    "02.16",
                    84
                ],
                [
                    "02.17",
                    88
                ],
                [
                    "02.18",
                    114
                ],
                [
                    "02.19",
                    127
                ],
                [
                    "02.20",
                    127
                ],
                [
                    "02.21",
                    142
                ],
                [
                    "02.22",
                    154
                ],
                [
                    "02.23",
                    155
                ],
                [
                    "02.24",
                    173
                ],
                [
                    "02.25",
                    192
                ],
                [
                    "02.26",
                    220
                ],
                [
                    "02.27",
                    310
                ],
                [
                    "02.28",
                    360
                ],
                [
                    "02.29",
                    455
                ],
                [
                    "03.01",
                    1020
                ],
                [
                    "03.02",
                    558
                ],
                [
                    "03.03",
                    895
                ],
                [
                    "03.04",
                    909
                ],
                [
                    "03.05",
                    1087
                ],
                [
                    "03.06",
                    1566
                ],
                [
                    "03.07",
                    1730
                ],
                [
                    "03.08",
                    3208
                ],
                [
                    "03.09",
                    3614
                ],
                [
                    "03.10",
                    4212
                ],
                [
                    "03.11",
                    5274
                ],
                [
                    "03.12",
                    5779
                ],
                [
                    "03.13",
                    6544
                ],
                [
                    "03.14",
                    7947
                ],
                [
                    "03.15",
                    9304
                ],
                [
                    "03.16",
                    10447
                ],
                [
                    "03.17",
                    11680
                ],
                [
                    "03.18",
                    13496
                ],
                [
                    "03.19",
                    15402
                ],
                [
                    "03.20",
                    17687
                ],
                [
                    "03.21",
                    20216
                ],
                [
                    "03.22",
                    23721
                ],
                [
                    "03.23",
                    26708
                ],
                [
                    "03.24",
                    29295
                ],
                [
                    "03.25",
                    35306
                ],
                [
                    "03.26",
                    41192
                ],
                [
                    "03.27",
                    50267
                ],
                [
                    "03.28",
                    59191
                ],
                [
                    "03.29",
                    67858
                ],
                [
                    "03.30",
                    78275
                ],
                [
                    "03.31",
                    79048
                ],
                [
                    "04.02",
                    79648
                ],
                [
                    "04.03",
                    79648
                ],
                [
                    "04.05",
                    79654
                ],
                [
                    "04.13",
                    79757
                ],
                [
                    "04.14",
                    79757
                ],
                [
                    "04.15",
                    79757
                ],
                [
                    "04.16",
                    127673
                ],
                [
                    "04.17",
                    139690
                ],
                [
                    "04.18",
                    143970
                ],
                [
                    "04.19",
                    150301
                ],
                [
                    "04.20",
                    154458
                ],
                [
                    "04.21",
                    156980
                ],
                [
                    "04.22",
                    159129
                ],
                [
                    "04.23",
                    160511
                ],
                [
                    "04.24",
                    164384
                ],
                [
                    "04.25",
                    197589
                ],
                [
                    "04.26",
                    204283
                ],
                [
                    "04.27",
                    205520
                ],
                [
                    "04.28",
                    211138
                ],
                [
                    "04.29",
                    215557
                ],
                [
                    "04.30",
                    223928
                ],
                [
                    "05.01",
                    376856
                ],
                [
                    "05.02",
                    392721
                ],
                [
                    "05.03",
                    404476
                ],
                [
                    "05.04",
                    414821
                ],
                [
                    "05.05",
                    427670
                ],
                [
                    "05.06",
                    440269
                ],
                [
                    "05.07",
                    457265
                ],
                [
                    "05.08",
                    466094
                ],
                [
                    "05.09",
                    476936
                ],
                [
                    "05.10",
                    510190
                ],
                [
                    "05.11",
                    517700
                ],
                [
                    "05.12",
                    524996
                ],
                [
                    "05.13",
                    562141
                ],
                [
                    "05.14",
                    578411
                ],
                [
                    "05.15",
                    589432
                ],
                [
                    "05.16",
                    601643
                ],
                [
                    "05.17",
                    616410
                ],
                [
                    "05.18",
                    627259
                ],
                [
                    "05.19",
                    638266
                ],
                [
                    "05.20",
                    643063
                ],
                [
                    "05.21",
                    651959
                ],
                [
                    "05.22",
                    664052
                ],
                [
                    "05.23",
                    715480
                ],
                [
                    "05.24",
                    728797
                ],
                [
                    "05.25",
                    733585
                ],
                [
                    "05.26",
                    746553
                ],
                [
                    "05.27",
                    761852
                ],
                [
                    "05.28",
                    772013
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "heal"
            ],
            "selected": {
                "heal": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "01.28",
                "01.29",
                "01.30",
                "01.31",
                "02.01",
                "02.02",
                "02.03",
                "02.04",
                "02.05",
                "02.06",
                "02.07",
                "02.08",
                "02.09",
                "02.10",
                "02.11",
                "02.12",
                "02.13",
                "02.14",
                "02.15",
                "02.16",
                "02.17",
                "02.18",
                "02.19",
                "02.20",
                "02.21",
                "02.22",
                "02.23",
                "02.24",
                "02.25",
                "02.26",
                "02.27",
                "02.28",
                "02.29",
                "03.01",
                "03.02",
                "03.03",
                "03.04",
                "03.05",
                "03.06",
                "03.07",
                "03.08",
                "03.09",
                "03.10",
                "03.11",
                "03.12",
                "03.13",
                "03.14",
                "03.15",
                "03.16",
                "03.17",
                "03.18",
                "03.19",
                "03.20",
                "03.21",
                "03.22",
                "03.23",
                "03.24",
                "03.25",
                "03.26",
                "03.27",
                "03.28",
                "03.29",
                "03.30",
                "03.31",
                "04.02",
                "04.03",
                "04.05",
                "04.13",
                "04.14",
                "04.15",
                "04.16",
                "04.17",
                "04.18",
                "04.19",
                "04.20",
                "04.21",
                "04.22",
                "04.23",
                "04.24",
                "04.25",
                "04.26",
                "04.27",
                "04.28",
                "04.29",
                "04.30",
                "05.01",
                "05.02",
                "05.03",
                "05.04",
                "05.05",
                "05.06",
                "05.07",
                "05.08",
                "05.09",
                "05.10",
                "05.11",
                "05.12",
                "05.13",
                "05.14",
                "05.15",
                "05.16",
                "05.17",
                "05.18",
                "05.19",
                "05.20",
                "05.21",
                "05.22",
                "05.23",
                "05.24",
                "05.25",
                "05.26",
                "05.27",
                "05.28"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5168\u7403\u5386\u53f2heal\u4fe1\u606f(\u4e0d\u5305\u62ec\u4e2d\u56fd)",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 50,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_f0a68c1b3e4249d587344719ff16c05d.setOption(option_f0a68c1b3e4249d587344719ff16c05d);
    </script>
</body>
</html>
